<div class="key-alarm-monitor">
    <div>重点告警监控
    </div>
    <div>
        <kendo-grid style="display:grid;width:100%" [data]="alarmDataView" [sortable]="{
                allowUnsort: allowUnsort,
                mode: multiple ? 'multiple' : 'single'
                }" [sort]="sort" (sortChange)="sortChange($event)" [filter]="state.filter" (dataStateChange)="dataStateChange2filter($event)"
            [filterable]="showFilter" [pageSize]="pageSize" [skip]="skip" [pageable]="{
                  buttonCount: buttonCount,
                  info: info,
                  type: type,
                  pageSizes: pageSizes,
                  previousNext: previousNext
                }" (pageChange)="pageChange($event)">
            <kendo-grid-column field="ProductID" title="ID" width="40">
            </kendo-grid-column>
            <kendo-grid-column field="ProductName" title="Name" width="250">
            </kendo-grid-column>
            <kendo-grid-column field="Category.CategoryName" title="Category">
            </kendo-grid-column>
            <kendo-grid-column field="UnitPrice" title="Price" width="80">
            </kendo-grid-column>
            <kendo-grid-column field="UnitsInStock" title="In stock" width="80">
            </kendo-grid-column>
            <kendo-grid-column field="Discontinued" title="Discontinued" width="120">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <input type="checkbox" [checked]="dataItem.Discontinued" disabled/>
                </ng-template>
            </kendo-grid-column>
        </kendo-grid>
    </div>
</div>