.query_condition{
    border-bottom:1px lightgrey solid;
}


.condition_row{
    height:35px;
    margin-top:10px;
    
}
.condition_col_one{
    padding-right:10px;
    text-align: right;
}

.td_alarm_detail{
    border-width:0 0 0 0;
    vertical-align:top;
}



